body, html
{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: system-ui;
}

.row
{
  display: flex;
  flex-direction: row;
}

.col
{
  display: flex;
  flex-direction: column;
}

$paddings: 5, 10, 15, 20, 25, 30, 35, 40;

@each $tam in $paddings {
  .p-#{$tam} {
    padding: #{$tam}px;
  }

  .m-#{$tam} {
    margin: #{$tam}px;
  }

  .pb-#{$tam} {
    padding-bottom: #{$tam}px !important;
  }

  .mb-#{$tam} {
    margin-bottom: #{$tam}px !important;
  }

  .pt-#{$tam} {
    padding-top: #{$tam}px !important;
  }

  .mt-#{$tam} {
    margin-top: #{$tam}px !important;
  }

  .pl-#{$tam} {
    padding-left: #{$tam}px !important;
  }

  .ml-#{$tam} {
    margin-left: #{$tam}px !important;
  }

  .pr-#{$tam} {
    padding-right: #{$tam}px !important;
  }

  .mr-#{$tam} {
    margin-right: #{$tam}px !important;
  }
}

.center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayer
{
  box-shadow: 1px 1px 2px 1.1px #ccc;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  user-select: none;
}

.btn
{
  width: auto;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: white;
  background-color: rgb(0, 183, 255);
}
.btn:hover
{
  background-color: rgb(2, 150, 208);
}

